

<h3>Estoque de Peças</h3>
<hr />

<div class="form-row">
    <div class="col-xs-12 col-md-4 col-sm-3">
        <label for="validationDefault01">Descrição Peça *</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Descrição da Peça" value="" required>
    </div>

    <div class="col-xs-6 col-md-4 col-sm-3">
        <label for="validationDefaultUsername">Código *</label>
        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Código da Peça" aria-describedby="inputGroupPrepend2" required>
    </div>
</div>
<br />
<br />
<label>Observação</label>
<br />
<div class="form-row">
<textarea rows="10" cols="100" placeholder="Digite aqui informações adicionais">
</textarea>
</div>


  &nbsp;
    &nbsp;
    &nbsp;
<div class="form-row">
    <button class="btn btn-success" type="submit"><i class="material-icons">check</i>&nbsp;  Salvar </button>
</div>
