USE [master]
GO
/****** Object:  Database [PCW]    Script Date: 09/11/2019 23:15:30 ******/
CREATE DATABASE [PCW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PCW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PCW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCW]
GO
/****** Object:  Table [dbo].[PESSOAS]    Script Date: 09/11/2019 23:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOAS](
	[SEQPESSOA] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[CPF] [nvarchar](50) NOT NULL,
	[DTNASCIMENTO] [date] NOT NULL,
	[USUARIO] [nvarchar](50) NULL,
	[SENHA] [nvarchar](12) NULL,
	[TIPO] [nvarchar](20) NULL,
	[TELEFONE] [nvarchar](20) NULL,
	[ENDERECO] [nvarchar](50) NULL,
	[NUMERO] [char](10) NULL,
	[ESTADO] [nvarchar](50) NULL,
	[CEP] [nvarchar](20) NULL,
	[CIDADE] [nvarchar](50) NULL,
	[CNH] [nvarchar](20) NULL,
 CONSTRAINT [PK_PESSOAS] PRIMARY KEY CLUSTERED 
(
	[SEQPESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
