



<br />

<h3>Saida de Veículos</h3>
<hr />
<form>
    <div class="form-row">
        <div class="col-xs-12 col-md-4 col-sm-3">
            <label for="validationDefault01">Nome Motorista *</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Nome" value="" required>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <label for="validationDefault02">Veiculo *</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Sobrenome" value="" required>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <label for="validationDefaultUsername">Placa *</label>
            <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Usuário" aria-describedby="inputGroupPrepend2" required>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="form-row">
        <div class="col-xs-6 col-md-4 col-sm-3">
            <label for="validationDefault03">Hora *</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="Cidade" required>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <div class='input-group date' id='datetimepicker1'>
                <label>Data *</label>
                <input type='text' class="form-control" id='datetimepicker4' />
            </div>
        </div>
        <div class=" hidden col-xs-3 col-md-3 col-sm-3">
            <label for="validationDefault04">CEP *</label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="Estado" required>
        </div>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="form-row">
        <button class="btn btn-success" type="submit"><i class="material-icons">check</i>&nbsp;  Salvar </button>
    </div>


</form>

@*<script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker();
        });
    </script>*@

<script src="~/lib/jquery/dist/jquery.js">
    $(function () {
        $('#datetimepicker4').datetimepicker();
    });
</script>


