
@{
    ViewData["Title"] = "Index";
}


<br />

<form>
    <h3>Dados Pessoais</h3>
    <hr />
    <div class="form-row">
        <div class="col-xs-12 col-md-4 col-sm-3">
            <label for="validationDefault01">Nome *</label>
            <input type="text"  class="form-control" id="validationDefault01" placeholder="Nome" value="" required>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <label for="validationDefault02">CPF *</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="CPF" value="" required>
        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">
            <label for="validationDefaultUsername">Data de Nascimento *</label>
            <input type="date" class="form-control" id="validationDefaultUsername" placeholder="Data de Nascimento" aria-describedby="inputGroupPrepend2" required>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <div class='input-group date'>
                <label>Usuário*</label>
                <input type='text' class="form-control" id='datetimepicker4' placeholder="Usuário" />
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <div class='input-group date'>
                <label>Senha *</label>
                <input type='text' class="form-control" placeholder="Senha" />
            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">
            <label for="exampleFormControlSelect2">Tipo *</label>
            <select class="form-control" id="exampleFormControlSelect2">
                <option>   -- Selecione --</option>
                <option>Cliente</option>
                <option>Usuário</option>
                <option>Motorista</option>

            </select>
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <div class='input-group date'>
                <label>Telefone</label>
                <input type='text' class="form-control" placeholder="Telefone" />
            </div>
        </div>

    </div>
    &nbsp;
    &nbsp;
    <h3>Endereço</h3>
    <hr />
    <div class="form-row">
        <div class="col-xs-6 col-md-6 col-sm-6">
            <label for="validationDefault03">Endereço *</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="Cidade" required>
        </div>
        <div class="col-xs-2 col-md-2 col-sm-2">
            <label for="validationDefault04">Nº </label>
            <input type="text" class="form-control" id="validationDefault04" placeholder="Numero do Endereço" >
        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">
            <label for="validationDefault04">Estado*</label>
            <input type="text" class="form-control" id="validationDefault04" placeholder="Estado" >
        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">
            <label for="validationDefault04">CEP </label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="Estado" >
        </div>
        <div class="col-xs-6 col-md-4 col-sm-3">
            <label for="validationDefault03">Cidade </label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="Cidade" >
        </div>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="form-row">
        <button class="btn btn-success" type="submit"><i class="material-icons">check</i>&nbsp;  Salvar </button>
    </div>

</form>

<script src="~/lib/jquery/dist/jquery.js">
    $(function () {
        $('#datetimepicker4').datetimepicker();
    });
</script>
